<!DOCTYPE html>

<html>

<head>
  <title>Issues</title>
  <link rel="shortcut icon" href="/static/img/S_24.png">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--link type="text/css" href="/static/css/Custom.css" rel="stylesheet" media="all" /-->
  <script
		id="sap-ui-bootstrap"
		src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
		data-sap-ui-theme="sap_belize"
		data-sap-ui-libs="sap.m"
		data-sap-ui-resourceroots='{"i": "../static/js/"}'
		displayBlock="true">
  </script>
  <script src="https://unpkg.com/wired-elements@latest/dist/wired-elements.bundled.min.js"></script>
  <script src="/static/js/boot.js"></script>
</head>

<body class="sapUiBody" id="content">

</html>